@import "tailwindcss";

@theme {
}

@layer base {
  :root {
    margin: 0;
    padding: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: white;
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    @apply rounded-lg bg-black cursor-pointer px-4 py-2;
  }

 body {
  @apply min-h-screen;
  background-image: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
}

@layer components {
  .error-page {
   @apply w-full h-full flex items-center justify-center
  }

  .bg-logo-text {
    @apply bg-gradient-to-r from-fuchsia-500 to-cyan-500 bg-clip-text text-transparent text-2xl font-bold cursor-default;
  }

  .bg-background {
    @apply bg-gradient-to-t from-slate-900 to-slate-700;
  }

  .upload-btn {
    @apply bg-black text-white font-bold rounded-xl flex flex-row gap-2 items-center justify-center;
  }

  .navbar-style {
    @apply w-full h-fit max-h-15 flex gap-2 px-4 items-center fixed top-0 bg-black z-10;
  }

  .drawer-style {
    @apply bg-white/20 backdrop-blur-lg shadow-2xl fixed top-0 left-0 w-2/3 md:w-1/3 lg:hidden h-screen rounded-r-xl transition-transform transform duration-500 z-50;
  }

  .drawer-container {
    @apply w-full bg-white/10 flex flex-col gap-5 rounded-xl p-4;
  }
  .drawer-item {
    @apply w-full bg-white/20 rounded-xl px-4 py-2 font-bold hover:bg-white/10 flex flex-row gap-4 items-center cursor-pointer;
  }
}
