<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>File Upload Form</title>
</head>

<body>


    <h2>Upload Your File</h2>

    <!-- Form to upload a file with additional inputs -->
    <form action="/api/movies/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label for="fileName">File Name:</label>
            <input type="text" id="fileName" name="fileName" required>
        </div>

        <div>
            <label for="videoFile">Choose a file to upload:</label>
            <input type="file" id="videoFile" name="videoFile" required>
        </div>

        <div>
            <label for="thumbnail">Choose a thumbnail image:</label>
            <input type="file" id="thumbnail" name="thumbnail" accept="image/*">
        </div>

        <div>
            <button type="submit">Upload</button>
        </div>
    </form>

</body>

</html>